$header-color: #1c70dc;
$main-bg: #f6f6f6;
$white-bg: rgba(255, 255, 255, 0.3);
$main-font: #252a2f;
$main-font-v2: #3d434a;
$light-color: #fff;
$light-color-v2: #d4d9df;
$orange: #fdb200;
$green: #55bb00;